*{
	
	
	padding:0:
	margin:0;
	
}
.bcimg{
	
    background:url(https://thumbs.dreamstime.com/b/environment-earth-day-hands-trees-growing-seedlings-bokeh-green-background-female-hand-holding-tree-nature-field-118143566.jpg) no-repeat center/cover;
	height:200vh;
}
.rp,.rp2,.rp3,.rp4{
	padding:20PX;
	margin:20px;
	border:4px double aqua;
	background-color:yellow;
	font-weight:italic;
	font-size:15px;
	color:black;
	display:inline-block;
}	
.rp5{padding:20PX;
	margin:20px;
	border:4px double aqua;
	background-color:yellow;
	font-weight:italic;
	font-size:15px;
	color:blue;
}	

}